/*Comparativa*/

* {
  font-family: monospace;
  color: rgb(0, 0, 0);
}

.header-color {
  background-color: #64a6f2;
}

body{
  background-color:  #303030;
}  

.physical {
    background-color: #a33002;
  }
  
  .data-link {
    background-color: #0069aa;
  }
  
  .network {
    background-color: #019901;
  }
  
  .transport {
    background-color: #a24c00;
  }
  
  .session {
    background-color: #03469f;
  }
  
  .presentation {
    background-color: #af00af;
  }

  .application {
    background-color: #b80000; 
  }

  .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .circle1 {
    background-color: #0058b5;
  }
  
  .circle2 {
    background-color: #00b129;
  }
  
  .circle3 {
    background-color: #d19d00;
  }
  
  .circle4 {
    background-color: #cd0014;
  }

  #comparacion {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  